[Unit]
Description=Gufi reindex list

[Service]
ExecStart=/opt/storage/gufi_change_finder/run
LimitNOFILE=65536
Restart=on-failure
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=default.target


