[Unit]
Description=Gufi reindex list

[Service]
ExecStart=/home/bschlueter/parent_finder/target/debug/parent_finder --root-scoutfs /marfs/mdal-root --quota-state-file-path /home/bschlueter/quota_update/.state --output-file-dir /home/bschlueter/parent_finder/output --state-file-path /home/bschlueter/parent_finder/.state -s
LimitNOFILE=65536
Restart=on-failure
RestartSec=5
StandardOutput=journal

[Install]
WantedBy=default.target


